<div>
    <form (submit)="submitTiempo(tiempo)">
        <input type="text" placeholder="Tiempo - e.g. = 00:00:00" class="form-control" autofocus #tiempo>
        <button class="btn btn-primary btn-block mt-2">Obtener temperatura</button>
    </form>
    <!-- Mostrar mensaje de error si campos vacios -->
    <div *ngIf="mensajeError" class="alert alert-dismissible alert-warning mt-2">
        <h5 class="alert-heading">Error!</h5>
        <p>{{mensajeError}}</p>
    </div>
    <p>Temp. -> time :{{valorTemperatura.time}} - value :{{valorTemperatura.value}}</p>
    <p>Pote. -> time :{{valorPotencia.time}} - value :{{valorPotencia.value}}</p>
</div>

<div>
    <p>Hora actual {{horaActual}}</p>
</div>

<!-- Gráfica Temperatura -->
<div>
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme1" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
        [results]="chartTemperatura" [autoScale]="true">
    </ngx-charts-line-chart>
</div>

<!-- Gráfica Potencia -->
<div>
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme2" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
        [results]="chartPotencia" [autoScale]="true">
    </ngx-charts-line-chart>
</div>