<div>
    <form (submit)="submitTiempo(tiempo)">
        <input type="text" placeholder="Tiempo - e.g. = 00:00:00" class="form-control" autofocus #tiempo>
        <button class="btn btn-primary btn-block mt-2">Obtener temperatura</button>
    </form>
    <!-- Mostrar mensaje de error si campos vacios -->
    <div *ngIf="mensajeError" class="alert alert-dismissible alert-warning mt-2">
        <h5 class="alert-heading">Error!</h5>
        <p>{{mensajeError}}</p>
    </div>
    <p>{{valorTiempo}}</p>
    <p>Temperatura - time :{{valorTemperatura.time}}</p>
    <p>Temperatura - value :{{valorTemperatura.value}}</p>
    <p>Potencia - time :{{valorPotencia.time}}</p>
    <p>Potencia - value :{{valorPotencia.value}}</p>
</div>

<div>
    <p>Hora actual {{horaActual}}</p>
</div>

<footer>
    <div class="text-center p-2">
        <a class="text-dark" href="http://almoril.com/ ">almoril</a>
    </div>
</footer>